* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #fff;
  font-family: open sans, sans-serif;
  color: hsl(192, 100%, 9%);
}
.container {
  width: 100%;
  height: 100vh;
}
.S1 {
  width: 100%;
  height: 100vh;
  background-image: url(./bg-hero-desktop.svg);
  background-color: hsl(322, 100%, 98%);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px 6em 50px 6em;
  margin-bottom: 70px;
}
.S1 .L2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}
.L1_1 {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}
.L1_1 button {
  background-color: #ffffff;
  border-radius: 25px;
  border: none;
  font-size: 1.1em;
  font-weight: 700;
  padding: 12px 40px 12px 40px;
}
.L1_1 button:hover {
  cursor: pointer;
  background-color: #f5f2f2;
}
.L2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.L2_2 {
  flex: 1;
}
.L2_2 img {
  width: 100%;
}
h1 {
  color: #002c36;
  margin-bottom: 40px;
  font-size: 6rem;
  line-height: 1.5em;
}
.L2_1 {
  flex: 1;
}
.L2_1 p {
  font-size: 2em;
  color: #273845;
}
.L2_1 button {
  background-color: hsl(322, 100%, 66%);
  border-radius: 35px;
  padding: 25px 90px;
  border: none;
  color: #fff;
  font-size: 3em;
  font-weight: bold;
  margin-top: 1.5em;
}
.L2_1 button:hover {
  background-color: hsl(322, 92%, 70%);
  cursor: pointer;
}
.S2 {
  display: flex;
  justify-content: center;
  width: 96%;
  height: 70vh;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
}
.L3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.L3_2 img {
  width: 100%;
  height: auto;
}
h2 {
  font-size: 3em;
}
.L3_1 p {
  width: 100%;
  font-size: 2em;
  color: #abb5bb;
  margin-top: 30px;
}
.S3 {
  display: flex;
  justify-content: center;
  width: 96%;
  height: 70vh;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
}
.L4 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.L4_2 img {
  width: 100%;
  height: auto;
}
h2 {
  font-size: 3em;
}
.L4_1 p {
  font-size: 2em;
  color: #abb5bb;
  margin-top: 50px;
}
.S4 {
  width: 96%;
  height: 70vh;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
}
.L5 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.L5_2 {
  flex: 1;
}
.L5_2 img {
  width: 100%;
  height: 100%;
}
h2 {
  font-size: 3em;
}
.L5_1 {
  flex: 1;
}
.L5_1 p {
  font-size: 2em;
  color: #abb5bb;
  margin-top: 50px;
}
.S5 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  position: relative;
}
.L_1 {
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: -12em;
  /* border: solid; */
  border-radius: 60px;
  width: 25%;
  height: 20vh;
  font-size: 0.6em;
}
.L_1 h1 {
  font-size: 4.5em;
  margin-top: 2em;
}
.L_1 button {
  background-color: hsl(322, 100%, 66%);
  border-radius: 35px;
  padding: 5px 20px;
  border: none;
  color: #fff;
  font-size: 3em;
  font-weight: bold;
}
.L_1 button:hover {
  background-color: hsl(322, 93%, 70%);
  cursor: pointer;
}
.footer {
  width: 100%;
  background-color: #002b35;
  color: #fff;
  padding: 60px;
}
.S6 p,
.L_6,
a {
  font-size: 1.5em;
  color: #fff;
  text-decoration: none;
}
a {
  line-height: 2.75em;
}
.S6 .liste {
  color: #fff;
}
.cont_element {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 100px;
}
.footer_element {
  display: flex;
  gap: 15px;
  width: 100%;
}
.footer_img img {
  width: 200px;
  height: 300px;
}
.L_3 {
  display: flex;
  flex-direction: column;
  width: 30%;
  line-height: 1.7;
  font-size: 25px;
  gap: 20px;
}
.L_3 p {
  display: flex;
  gap: 10px;
}
.L_3 i {
  margin-top: 5px;
  font-size: 30px;
}
.liste li {
  list-style: none;
  line-height: 1.8;
}
.liste a:hover {
  color: hsl(322, 100%, 66%);
  text-decoration: underline;
}
.icons {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.icons .icon1,
.icon2,
.icon3 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #fff;
}
.icon1:hover,
.icon2:hover,
.icon3:hover {
  border-color: hsl(322, 100%, 66%);
  cursor: pointer;
  color: hsl(322, 95%, 75%);
}
.copy_rigth {
  display: flex;
  justify-content: flex-end;
  color: #abb5bb;
  font-size: 2em;
}
@media screen and (max-width: 2560px) {
  .container {
    margin: auto;
  }
  .L2_2 img {
    width: 100%;
  }
  .L_1 h1 {
    margin: 0;
  }

  .L_1 {
    width: 29%;
    height: 15vh;
  }
  .L_1 h1 {
    font-size: 4.5em;
    margin-top: 2em;
  }
  .L_1 button {
    font-size: 3em;
    margin-top: 50px;
  }
}
@media screen and (max-width: 1440px) {
  .container {
    margin: auto;
  }
  .L2_1 {
    font-size: 0.9em;
  }
  .L2_1 h1 {
    font-size: 4rem;
  }
  .L2_1 button {
    padding: 8px;
  }
  .L_1 {
    width: auto;
  }
  .L_1 button {
    margin-top: 50px;
  }
  .L_3 {
    font-size: 1em;
  }
  .copy_rigth {
    margin-top: 1em;
    font-size: 1em;
  }
  .liste {
    font-size: 0.9em;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    width: auto;
    margin: auto;
    padding: auto;
  }
  .S1 {
    width: 100%;
    margin: auto;
  }
  .L2_1 {
    font-size: 0.6em;
  }
  .L2_1 h1 {
    font-size: 3rem;
  }
  .L2_1 button {
    font-size: 2em;
    padding: 6px 15px 15px 6px;
  }
  .S5 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.6em;
  }
  .L_3 {
    font-size: 0.7em;
  }
  .icons {
    align-items: flex-end;
    margin-left: -22em;
  }
  .copy_rigth {
    margin-top: 1em;
    font-size: 1em;
  }
  .liste {
    font-size: 0.6em;
  }
}
@media screen and (max-width: 768px) {
  .container {
    width: auto;
    margin: auto;
    padding: auto;
  }
  body {
    text-align: center;
  }
  .L1_1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 70px;
    width: auto;
  }
  .L1_1 img,
  button {
    width: 30%;
    margin-left: 12em;
  }
  .L1_1 button {
    margin-top: 2em;
  }
  .S1 {
    width: 100%;
    margin: auto;
  }
  .S1 {
    height: 80vh;
  }
  .S1 .L2,
  .S2 .L3,
  .S3 .L4,
  .S4 .L5 {
    flex-direction: column;
  }
  .S2 .L3 {
    flex-direction: column-reverse;
  }
  .S4 .L5 {
    flex-direction: column-reverse;
  }
  .L2_1 {
    font-size: 0.5em;
    width: 100%;
  }
  .L2_1 h1 {
    width: 100%;
    margin-top: 2.75em;
    font-size: 1.75rem;
  }
  .L2_1 button {
    font-size: 2em;
    margin-top: 3em;
    padding: 8px;
    margin-left: 10px;
  }
  .L2_2 img {
    margin-bottom: 30em;
    margin-right: 50px;
  }
  .L3_1 {
    font-size: 0.75em;
  }
  .L4_1 {
    font-size: 0.75em;
  }
  .L5_1 {
    font-size: 0.75em;
  }
  .S5 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.6em;
  }
  .L_1 button {
    margin-left: 10px;
    padding: 8px;
  }
  .L_1 h1 {
    text-align: center;
  }
  .L_3 {
    font-size: 0.77em;
  }
  .L_3 i {
    font-size: 20px;
  }
  .footer .cont_element .footer_element {
    flex-direction: column;
  }
  .footer_img {
    display: flex;
    justify-content: flex-start;
  }
  .footer_img img {
    width: 100px;
    height: auto;
  }
  #p1,
  #p2,
  #p3 {
    width: 80vw;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .icons,
  .copy_rigth {
    justify-content: center;
  }
  .icons {
    margin-left: 1em;
  }

  .copy_rigth {
    margin-top: 1.75em;
    font-size: 1em;
  }
  .liste {
    font-size: 0.5em;
  }
}
@media screen and (max-width: 425px) {
  .L1_1 img,
  button {
    width: 30%;
    margin-left: 3em;
  }
  .L1_1 button {
    margin-top: 2em;
  }
  .L1_1 button {
    padding: 3px 7em 3px 7em;
  }
  @media screen and (max-width: 375px) {
    .L1_1 img,
    button {
      width: 30%;
      margin-left: 3em;
    }
    .L1_1 button {
      margin-top: 2em;
    }
  }
}
